
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.datasource.url=jdbc:h2:mem:investmentSaladDbTest
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.h2.console.enabled=true
spring.jpa.defer-datasource-initialization=true
spring.datasource.initialization-mode=always


allowed.origins=http://localhost:3000,https://investmentsalad.com
server.port=8080
jwt.secretKey=netflixSecretKey
jwt.validityTimeInMilliseconds=7200000000
